  
  <h4>現在、フォローされているユーザーはいません。
  自分に近い人をフォローしてみましょう、フォローしてくれるかもしれません！</h4>
  
  
 <% @followed.each do |followed_user| %>

  <%= followed_user.name %>
  <%= attachment_image_tag(followed_user, :profile_image, style:"height: 50px; width: 50px;" ) %>
<% end %>