<% if @followed != nil %>
  <table class="table border-bottom">
    <thead>
      <tr>
        <th>プロフィール画象</th>
        <th>名前</th>
        <th>リンク</th>
      </tr>
    </thead>
    <% @followed.each do |followed_user| %>
    　<tbody>
      　<tr>
        　<td><%= attachment_image_tag(followed_user, :profile_image, style:"height: 50px; width: 50px;" ) %></td>
          <td><%= followed_user.name %></td>
          <td><%= link_to "詳細", user_path(followed_user) %></td>
        </tr>
      </tbody>
    <% end %>
  </table>
<% else %>
  <p>現在フォローされているユーザーはいません。</p>
  <p>誰かをフォローしてみましょう！あなたに興味を持って返してくれるかもしれません。</p>
<% end %>