<div class="row">
  <main role="main">
　 <section class="about jumbotron text-center">
      <div class="about-container">
        <h1 class="jumbotron-heading">forest</h1>
        <p class="about-mes">ここはあなたのための森です。</p>
      </div>
    </section>

    <div class="album py-5 ">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <div class="post-heart"></div>
                <div class="card-body">
                  <p class="card-text">日々あったことを投稿して、知らない誰かに今の気持ちを発信しましょう。</p>
                </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <div class="good-image"></div>
                <div class="card-body">
                  <p class="card-text">投稿を共有してみんなでコメントやいいねをし合い盛り上がりましょう！</p>
                </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <div class="share-favorite"></div>
                <div class="card-body">
                  <p class="card-text">自分の趣味に近い人を探して、フォローしてみましょう！</p>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>