<body class="top-body">
    <div class="cover-container">
      <div class="top-text masthead">
        <div class="inner">
          <h3>Forest</h3>
        </div>
        <p class="lead">Welcome to forest!</p>
        <p class="lead">
          <%= link_to "log inはこちら", new_user_session_path, class: "btn btn-primary" %>
        </p>
      </div>
    </div>
</body>