/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 // Custom bootstrap variables must be set or imported *before* bootstrap.
 @import "bootstrap";

li {
 list-style: none;
 }

.footer {
 background-color: #EEEEEE;
}

body {
 color: white;
}

.about-body {
 background-color: #556B2F;
}
.nav-link {
 color: white;
}

.top-content {
 background-color: black;
 opacity: 0.8;
 margin-left: 320px;
 margin-bottom: 510px;
}

.top-text {
 color: white;
}

.top-body {
 background-image: image-url("top-img.jpg");
 background-size: cover;
 background-position: center center;
 background-repeat: no-repeat;
 background-attachment: fixed;
 }

.about-2 {
 background-image: image-url("about-2.jpg");
 background-size: cover;
 background-repeat: no-repeat;
 background-attachment: fixed;
 height: 500px;
 width: 700px;
}

.about-3 {
 background-image: image-url("about-3.jpg");
 background-size: cover;
 background-repeat: no-repeat;
 background-attachment: fixed;
 height: 500px;
 width: 700px;
}

.about {
 background-image: image-url("forest-image.jpg");
 background-size: cover;
 background-position: center center;
 background-repeat: no-repeat;
 background-attachment: fixed;
 height: 500px;
}

.about-text {
 color: white;
}

.about-container {
 color: white;
}

.post-heart {
 background-image: image-url("post-heart");
 background-size:cover;
 height: 220px;
 width: 348px;
}
.good-image {
 background-image: image-url("good.jpg");
 background-size:cover;
 height: 220px;
 width: 348px;
}

.share-favorite {
 background-image: image-url("share-favorite.jpg");
 background-size:cover;
 height: 220px;
 width: 348px;
}

.login-body {
 background-image: image-url("login.jpg");
 background-size: cover;
 opacity: 0.8;
}

.sign-in {
 background-image: image-url("sign-in.jpg");
 background-size: cover;
 opacity: 0.8;
}

.profile-img {
 background-image: image-url("profile-img.jpg");
 background-size: cover;
 padding: 10px;
 margin-bottom: 50px;
}

.post-img {
 background-image: image-url("post-img.jpg");
 backgorund-size: cover;
 padding: 10px;
 margin-bottom: 90px;
}

.post-edit-img {
 background-image: image-url("post-img.jpg");
 backgorund-size: cover;
 padding: 10px;
 margin-bottom: 110px;
}

.main-background {
 background-image: image-url("main-background.jpg");
 background-size: cover;
}

.form-body {
 background-color: black;
 padding-bottom: 60px;
 margin-left: 260px;
 margin-bottom: 305px;
}

.sign-up-form {
 background-color: black;
 padding: 50px;
 margin-left: 260px;
 margin-bottom: 110px;
}

.blog-sidebar {
 margin-bottom: 120px;
}

.blog-info-img {
 background-image: image-url("blog-info-img");
 background-size: cover;
}

