/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 // Custom bootstrap variables must be set or imported *before* bootstrap.
 @import "bootstrap";

 li {
 list-style: none;
 }


.blog-header {
 color: white;
 background-color: #008000;
}


.nav-scroller {
 background-color: white;
}

.footer {
 background-color: #EEEEEE;
}

.logo {
 background-image: url("logo.jpg");
}

.top {
 background-image: url("top.jpg");
 background-size: cover;
 background-position: center center;
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-color: #999;
 height: 500px;
 width: 1150px;
}

.top-2 {
 background-image: url("top-2.jpg");
 background-size: cover;
 background-position: center center;
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-color: #999;
 height: 500px;
 width: 700px;
}

.top-3 {
 background-image: url("top-3.jpg");
 background-size: cover;
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-color: #999;
 height: 500px;
 width: 700px;
}

.about {
 background-image: url("forest-image.jpg");
 background-size: cover;
 background-position: center center;
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-color: #999;
 height: 500px;
}

.about-container {
 color: white;
}

.post-heart {
 background-image: url("post-heart");
 background-size:cover;
 height: 220px;
 width: 348px;
}
.good-image {
 background-image: url("good.jpg");
 background-size:cover;
 height: 220px;
 width: 348px;
}

.share-favorite {
 background-image: url("share-favorite.jpg");
 background-size:cover;
 height: 220px;
 width: 348px;
}