<footer class="footer mt-auto d-flex py-2 bg-dark">
  <div class="container">
    <span class="text-light">©︎forest  </span>
    <span class="text-center"><%= link_to "お問い合わせ", "https://docs.google.com/forms/d/e/1FAIpQLSfFVRl1wYhA6yvOk0tVs0iZrEQymaNB2EAT01sDzVA3pElxZA/viewform" %></span>
    <span class="text-center"><%= link_to "利用規約", term_service_path %></span>
  </div>
</footer>