<div class="nav-scroller py-1 mb-2">
  <% if user_signed_in? %>
    <nav class="nav d-flex justify-content-between">
      <div class="p-2 text-muted"><%= link_to "", user_path(current_user), class: "fas fa-user nav-link" %></div>
      <div class="p-2 text-muted"><%= link_to "", users_path, class: "fas fa-users nav-link" %></div>
      <div class="p-2 text-muted"><%= link_to "", posts_path, class: "far fa-folder-open nav-link" %></div>
      <div class="p-2 text-muted"><%= link_to "", posts_ranking_path, class: "fas fa-crown nav-link" %></div>
    </nav>
  <% end %>
</div>