<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="nav navbar-nav navbar-center">
    <span>forest</span>
  </div>

  <nav>
    <ul class="nav navbar-nav navbar-left">
      <li><%= link_to "top", root_path %></li>
      <li><%= link_to "about", about_path %></li>
    </ul>
  </nav>

  <nav>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "log in", new_user_session_path %></li>
      <li><%= link_to "sign up", new_user_registration_path %></li>
    </ul>
  </nav>
</div>